.container {
  display: -webkit-flex;
  display: flex;
}

.calculator {
  position: absolute;
  width: 320px;
  height: 480px;
  background: rgba(75,75,75,.65);
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
}

.display {
  position: absolute;
  top: 40px;
  right: 16px;
  left: 16px;
  width: 288px;
  height: 70px;
  text-align: right;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Ultra Light", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  color: white;
  padding: 0px;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.keys {
  position: absolute;
  top: 110px;
  width: 300px;
  height: 350px;

}
.button {
  border: 0;
  background: #404040;
  width: 60px;
  height: 60px;
  transition: 100ms all ease;
  cursor: pointer;
  border-radius: 50%;
  margin: 6px;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Ultra Light", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
}

button:active {
  outline: none;
  border: 1px solid;
  opacity: 0.6;
}

button:focus {
  outline: 0;
}

.button.nbr {
  color: white;
}

.button.dot {
  font-size: 36px;
  color: white;
}

#plus, #minus:focus {
  outline: 0;
  opacity: 0.7;
}
